<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/recipes']" >Recipes</a> </li>
        <li routerLinkActive="active"><a [routerLink]="['/shopping-list']"  >Shopping List</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!(authState | async).authenticated">
          <li routerLink="signup"><a class="fas fa-user" style="cursor: pointer">Register</a></li>
          <li routerLink="signin"><a class="fas fa-sign-in-alt" style="cursor: pointer">Login</a></li>
        </ng-template>
        <ng-template [ngIf]="(authState | async).authenticated">
          <li><a class="fas fa-door-open" style="cursor: pointer" (click)="onLogout()">Logout</a></li>
          <li class="dropdown" appDropdown>
            <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer" (click)="storeData()">Save Data</a> </li>
              <li><a style="cursor: pointer" (click)="getData()">Fetch Data</a> </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
